@using MovieManagement.DTOs
@model IEnumerable<MovieManagement.DTOs.MovieDTO>
@{
    ViewData["Title"] = "Daftar Film";
}

<h1>Daftar Film</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tambah Film Baru</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Tahun Terbit</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreIds)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>